<a href="https://colab.research.google.com/github/jyoshitha1198/python-new-/blob/module2/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = ["apple", "banana", "cherry", "apple", "cherry"]
print(a)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [2]:
a = ["apple", "banana", "cherry"]
a[-1]
print(a)

['apple', 'banana', 'cherry']

In [3]:
a = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
a[1:3] = ["blackcurrant", "watermelon"]
print(a)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [4]:
##Change the second value by replacing it with two new values
a = ["apple", "banana", "cherry"]
a[1:2] = ["blackcurrant", "watermelon"]
print(a)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [5]:
##Insert "watermelon" as the third item
a = ["apple", "banana", "cherry"]
a.insert(2, "watermelon")
print(a)

['apple', 'banana', 'watermelon', 'cherry']

In [6]:
##Insert an item as the second position
a = ["apple", "banana", "cherry"]
a.insert(1, "orange")
print(a)

['apple', 'orange', 'banana', 'cherry']

In [7]:
##Add the elements of tropical to thislist
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [8]:
##Add elements of a tuple to a list
a = ["apple", "banana", "cherry"]
b = ("kiwi", "orange")
a.extend(b)
print(a)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [9]:
##Remove "watermelon"
a = ["apple", "banana", "cherry","watermelon"]
a.remove("watermelon")
print(a)

['apple', 'banana', 'cherry']

In [10]:
##Remove the second item by using pop()
a = ["apple", "banana", "cherry"]
a.pop(1)
print(a)

['apple', 'cherry']

In [11]:
##
a = ["apple", "banana", "cherry"]
a.clear()
print(a)

[]

In [13]:
##Print all items in the list, one by one
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [15]:
##sort lists alphabetically
a = ["orange", "mango", "kiwi", "pineapple", "banana"]
a.sort()
print(a)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [16]:
##sort lists numerically
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [17]:
##sort the list in descending
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [18]:
##case sensitive
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [19]:
##case insensitive
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [20]:
##reverse order
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [21]:
##copy list
ta = ["apple", "banana", "cherry"]
b = a.copy()
print(b)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [22]:
##join lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [23]:
fruit=["apple","orange","bannana"]
print(fruit)
print(fruit[0:2])
print(fruit[:2])
print(fruit[1:2])
print(fruit[2:])

['apple', 'orange', 'bannana']
['apple', 'orange']
['apple', 'orange']
['orange']
['bannana']

In [24]:
fruit=["apple","mango","orange","bannana"]
print(fruit)
fruit.append("jackfruit")
print(fruit)
##inserting into the list
fruit.insert(6,"kiwi")
print(fruit)
##removing into list
fruit=["apple","mango","orange","bannana"]
fruit.remove("orange")
print(fruit)
##pop by index
fruit=["apple","mango","orange","bannana"]
fruit.pop(1)
print(fruit)
##del into list
del fruit[0]
print(fruit)
##clear the list content
fruit.clear()
print(fruit)
##sort
num=[10,18,30,45,25]
num.sort()
print(num)
##sort in descending
num=[10,18,30,45,25]
num.sort()
num.reverse()
print(num)
#alph
alph=["b","k","c","p","z"]
alph.sort()
print(alph)
#alph in decending
alph=["b","k","c","p","z"]
alph.sort()
alph.reverse()
print(alph)

['apple', 'mango', 'orange', 'bannana']
['apple', 'mango', 'orange', 'bannana', 'jackfruit']
['apple', 'mango', 'orange', 'bannana', 'jackfruit', 'kiwi']
['apple', 'mango', 'bannana']
['apple', 'orange', 'bannana']
['orange', 'bannana']
[]
[10, 18, 25, 30, 45]
[45, 30, 25, 18, 10]
['b', 'c', 'k', 'p', 'z']
['z', 'p', 'k', 'c', 'b']